@model IEnumerable<Biker.Web.Data.Entities.ManagerEntity>

@{
    ViewData["Title"] = "Managers";
}

    <h2 class="text-center">Managers</h2>
<hr />


<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserEntity.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEntity.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEntity.Email).ToUpper()
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEntity.PhoneNumber).ToUpper()
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEntity.Address).ToUpper()
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEntity.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEntity.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEntity.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEntity.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEntity.Address)
                </td>

                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a>
                    @*<a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
