@model IEnumerable<Biker.Web.Data.Entities.MotorBike.MotorBikeEntity>

@{
    ViewData["Title"] = "MotorBikes";
}

<h2 class="text-center">Motorbikes</h2>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cylinder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BikeMaker.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BikeType.Name)
            </th>
            <th>
                # Motorbikes for Spare
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cylinder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BikeMaker.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BikeType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MotorBikeSpares.Count)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
