@model List<Biker.Web.Models.Spare.SpareBrandList>

@{
    ViewData["Title"] = $"Edit Brands {Model.FirstOrDefault().NameCategory}";
}

<h2>Edit Brand  @Model.FirstOrDefault().NameCategory</h2>

<div>
    <table class="table">

        <tbody>
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(Model.FirstOrDefault().NameCategory))
                    {
                        <img src="@Url.Content(Model.FirstOrDefault().ImgUrlCategory)" alt="Image" style="width:300px;height:auto;max-width: 30%; height: auto;" class="img-responsive img-thumbnail center-block" />
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-md-4">
    <form asp-action="AddBrand">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="form-group">
            <a asp-action="Details" asp-route-id="@Model.FirstOrDefault().SpareCategoryId" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>Back</a>
            <input type="submit" value="Update" name="AddBrand" class="btn btn-primary" />
        </div>
    </form>
</div>





<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center"> Brands </h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th class="col-lg-1">
                                Choose
                            </th>
                            <th class="col-lg-1">
                                @Html.DisplayNameFor(model => Model.FirstOrDefault().Name)
                            </th>
                            <th class="col-lg-2">
                                @*@Html.DisplayNameFor(model => Model.FirstOrDefault().ImageUrl)*@
                                Image
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.CheckBoxFor(v => Model[i].Is_checked)
                                </td>

                                <td>
                                    @Html.HiddenFor(v => Model[i].Id_Brand)
                                    @Html.DisplayFor(v => Model[i].Name)
                                </td>
                                <td>
                                    <img src="@Url.Content(Model[i].ImageUrl)" alt="Image" style="width:100px;height:auto;max-width: 100%; height: auto;" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<partial name="_DeleteDialog" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#MyTable').DataTable();

        });
    </script>
}








@*<hr />
    <div class="form-group">
        <table >

            @for (int i = 0; i < Model.Count; i++)
            {

            <tr>
                <td class="custom-control-input">
                    @Html.CheckBoxFor(v => Model[i].Is_checked)
                </td>

                <td class="custom-control-label">
                    @Html.HiddenFor(v => Model[i].Id_Brand)
                    @Html.DisplayFor(v => Model[i].Name)
                </td >

            </tr>
            }

        </table>
    </div>*@