@model Biker.Web.Data.Entities.Biker.BikerEntity

@{
    ViewData["Title"] = "interests";
}

    <h2 class="text-uppercase"> interests of <b> @Html.DisplayFor(model => model.UserEntity.FirstName)</b> </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserEntity.FirstName):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserEntity.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserEntity.LastName):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserEntity.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserEntity.Email):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserEntity.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserEntity.Address):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserEntity.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserEntity.PhoneNumber):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserEntity.PhoneNumber)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
    <a asp-action="AddBikeToBiker" class="btn btn-primary">Add Motorbike</a>
</div>


@if (Model.BikerMotors.Count == 0)
{
    <h4>Not motorbikes added yet</h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BikerMotors.FirstOrDefault().MotorBikeSpare.ImageUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BikerMotors.FirstOrDefault().MotorBikeSpare.MotorBike.ReadnNameandCillinder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BikerMotors.FirstOrDefault().MotorBikeSpare.ReadModel)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BikerMotors)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(item.MotorBikeSpare.ImageUrl))
                        {
                            <img src="@Url.Content(item.MotorBikeSpare.ImageUrl)" alt="Image" style="width:250px;height:auto;max-width: 100%; height: auto;" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MotorBikeSpare.MotorBike.ReadnNameandCillinder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MotorBikeSpare.ReadModel)
                    </td>

                    <td>
                        @*<a asp-action="DetailsBikeSpare" class="btn btn-info" asp-route-id="@item.Id">Details</a>*@
                        <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/BikeMakers/DeleteBikeToBiker/' + item_to_delete;
            });
        });
    </script>
}

